.header {
    width: 50vw;
}

.menu {
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: tan;
    padding: 1rem;
}

.menu .menu__item {
    color: royalblue;
    font-family: sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    position: relative;
}

.menu menu__item.menu__item--active, .menu__item:hover {
    /*font-weight: bolder;*/
    position: relative;
}

.menu .menu__item::after{
    content: "";
    width: 120%;
    height: 1px;
    display: inline-block;
    opacity: 0;
    position: absolute;
    left: -10%;
    bottom: -30%;
}

.menu menu__item.menu__item--active::after, .menu__item:hover::after {
    content: "";
    width: 120%;
    height: 1px;
    display: inline-block;
    opacity: 1;
    background-color: royalblue;
    position: absolute;
    left: -10%;
    bottom: -30%;
    transition: all 400ms;
}